*{
    margin: 0;
    padding: 0;
    font-family: arial;
    color: white;
}

main{
    background-color: black;
    display: flex;
    flex-direction: column;
    
}

header{
    background-color: rgb(66, 29, 101);
    display: flex;
    padding: 20px;
    border: 1px solid  rgb(66, 29, 101);
    border-bottom-color: white;
    
}

header img{
    width: 125px;
   
}

.content{
    /* margin-left: 10px; */
    margin-right: 210px;
}

.teste{
    display: flex;
    flex-direction: column;
}
.barra-lateral{
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #595858;
    padding: 10px;
}

.barra-lateral ul{
    list-style-type:none;
    
}

.logo-loja{
    padding-left: 15px;
}
.logo-loja h2{
    text-align: center;
    font-family: comic sans ms;
    font-size: 30px;
}

nav{
    margin-left: 375px;
    padding-top: 50px;
    
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    list-style: none;
}

nav li{
    margin-left: 17px;
}

.banner-principal{
    background-image: url("../imagens/banner-jogo-principal.png");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.677);
    width: 1600px;
    height: 1087px;
    max-width: 100%;
    text-align: center;
    font-size: 30px; 
      
}

.banner-principal p{
    text-shadow: 5px solid black;
}
button{
    color: black;
    cursor: pointer;
}

.promocao{
    display: flex;
    flex-direction: column;
    background-color: #606060;
    margin: 30px;
    border-radius: 25px;
}

.promocao img{
    width: 250px;
}

.promocao h2, h4{
    text-align: center;
    margin: 30px;
}

.catalogo{
    display: flex;
    flex-direction: column;
    background-color: #606060;
    margin: 30px;
    border-radius: 25px;
}

.catalogo img{
    width: 250px;
}

.catalogo h2, h4{
    text-align: center;
    margin: 30px;
    
}
.consoles{
    display: flex;
    flex-direction: column;
    display:block;
    background-color: #606060;
    margin: 30px;
    border-radius: 25px;
    gap: px;
}

.consoles img{
    width: 250px;
}

.console p{
    margin: 15px;
}
.consoles h2, h4{
    text-align: center;
    margin: 30px;
    
}







.card {
    background-color: #d25c5c;
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
   
  }
  .card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
  }
  .card h1 {
    font-size: 1.2rem;
  }
  .card h2 {
    font-size: .9rem;
    color: #aaaa;
  }
  .card button {
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
  }
  .card button:hover {
    background-color: #137de8;
    cursor: pointer;
  }